name: "Update tools index"

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 6 * * MON'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: |
        curl https://raw.githubusercontent.com/Project-Env/project-env-tools/main/index.json -o index.json
        sed -i 's/https:\/\/github.com/https:\/\/artifactory.svc.elca.ch\/artifactory\/github-releases/g' index.json
        sed -i 's/https:\/\/archive.apache.org\/dist/https:\/\/artifactory.svc.elca.ch\/artifactory\/apache-archive/g' index.json
        sed -i 's/https:\/\/nodejs.org\/dist/https:\/\/artifactory.svc.elca.ch\/artifactory\/node-dist/g' index.json
    - uses: peter-evans/create-pull-request@v7
      with:
        title: 'update tools index'
        body: 'Updated tools index with latest info'
        commit-message: 'update tools index'
        branch: 'feature/update-tools-index'
